<h1>Theme Parks!</h1>

<h4><%= link_to 'Sort by Number of Rides', '?sort=ride_count', method: :get %></h4>
<br>
<%= form_tag("/themeparks", method: :get) do %>
  <%= label_tag :exact_match %>
  <%= text_field_tag :exact_match %>
  <%= submit_tag 'Exact match'%>
<% end %>
<br>
<%= form_tag("/themeparks", method: :get) do %>
  <%= label_tag :partial_match %>
  <%= text_field_tag :partial_match %>
  <%= submit_tag 'Partial match'%>
<% end %>
<br>
<ul>
  <% @theme_parks.each do |theme_park| %>
      <h3><%= link_to "#{theme_park.name}", "/themeparks/#{theme_park.id}", method: :get %></h3>

      <% if theme_park.open %>
        <li>Open</li>
      <% else %>
        <li>Closed</li>
      <% end %>

      <li><%= theme_park.created_at
                        .in_time_zone("America/Denver")
                        .strftime("Created on %m/%d/%Y at %I:%M%p %Z") %>
      </li>
      <% if params[:sort] %>
      <li>Number of Rides: <%= theme_park.rides.count %></li>
      <% end %>
      <%= link_to 'Edit', "themeparks/#{theme_park.id}/edit", method: :get %>
      <%= link_to 'Delete', "themeparks/#{theme_park.id}", method: :delete %>
    <% end %>
</ul>
<%= link_to 'New Theme Park', '/themeparks/new', method: :get %>
