<a href="/themeparks">Theme Parks Index</a>

<h1><%= @theme_park.name %></h1>
<ul>
  <li><%= @theme_park.city %></li>
  <li><% if @theme_park.open %>
           Open
      <% else %>
           Closed
      <% end %>
  <li><%= link_to 'Rides', "/themeparks/#{@theme_park.id}/rides", method: :get %></li>
  </li>     
</ul>
<%= link_to 'Edit', "/themeparks/#{@theme_park.id}/edit", method: :get %></br></br>
<%= form_tag("/themeparks/#{@theme_park.id}", method: :delete) do %>
  <%= submit_tag 'Delete Theme Park' %>
<% end %>