<a href="/themeparks">Theme Parks Index</a>

<h1><%= @theme_park.name %></h1>
<ul>
  <li><%= @theme_park.city %></li>
  <li><% if @theme_park.open %>
           Open
      <% else %>
           Closed
      <% end %>
  </li>     
</ul>
<a href="/themeparks/<%= @theme_park.id %>/edit">Edit</a>
<%= form_tag("/themeparks/#{@theme_park.id}", method: :delete) do %>
  <%= submit_tag 'Delete Theme Park' %>
<% end %>