<h1>New Ride at <%= @theme_park.name %></h1>
<%= form_tag "/themeparks/#{@theme_park.id}/rides" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %></br></br>
  <%= label_tag :max_occupants %>
  <%= text_field_tag :max_occupants %></br></br>
  <%= label_tag :operational %>
  <%= select_tag :operational, options_for_select([true, false]) %></br></br>

  <%= submit_tag 'Create Ride' %>
<% end %>