<h1>Resorts!</h1>
<%= form_tag("/resorts", method: :get) do %>
  <%= label_tag :number_of_rooms %>
  <%= text_field_tag :number_of_rooms %>
  <%= submit_tag 'Only show resorts with more than ____ rooms'%>
<% end %>
<br>
<%= form_tag("/resorts", method: :get) do %>
  <%= submit_tag 'Sort by number of vacationers', vacationers: :sort %>
  <% end %>

<ul>
  <% @ordered_resorts.each do |resort| %>
      <h3><%= resort.name %></h3>
      <li><%= resort.created_at
                        .in_time_zone("America/Denver")
                        .strftime("Created on %m/%d/%Y at %I:%M%p %Z") %>
      </li>
      <li><% if params[:commit] %>
          Vacationers: <%= resort.vacationers.count %>
          <% end %>
            </li>
      <li><%= link_to 'Edit', "/resorts/#{resort.id}/edit" %></li>
            <br>
    <% end %>

</ul>
<a href="/resorts/new/">New Resort</a>
