<a href="/resorts">Resorts Index</a>

<h1><%= @resort.name %></h1>
<ul>
  <li> Amount of Rooms: <%= @resort.amount_of_rooms %></li>
  <li><% if @resort.vacancy %>
           Vacancy
      <% else %>
           No Vacancy

      <% end %>
  </li>
</ul>
<a href="/resorts/<%= @resort.id %>/edit">Edit</a>
<%= form_tag("/resorts/#{@resort.id}", method: :delete) do %>
  <%= submit_tag 'Delete Resort' %>
<% end %>
