<h1>Vacationers at <%= @resort.name %> </h1>
<h2>Total vacationers: <%= @resort.vacationers.count %></h2>
<%= form_tag("/resorts/#{@resort.id}/vacationers", method: :get) do %>
  <%= submit_tag 'Alphebetize', vacationers: :sort %>
  <% end %>

<% @vacationers.each do |vacationer| %>
  <h3><%= vacationer.first_name %> <%= vacationer.last_name %></h3>
  <p>Checked in: <%= vacationer.checked_in %></p>
  <p><%= link_to 'Edit', "/vacationers/#{vacationer.id}/edit" %></p>
  <%= form_tag("/vacationers/#{vacationer.id}", method: :delete) do %>
    <%= submit_tag 'Delete Vacationer' %>
  <% end %>
  <% end %>
  <br>
<a href="/resorts/<%= @resort.id %>/vacationers/new">New Vacationer</a>
