<h1>Vacationers at <%= @resort.name %> </h1>
<h2>Total vacationers: <%= @resort.vacationers.count %></h2>
<% @resort.vacationers.each do |vacationer| %>
  <h3><%= vacationer.first_name %> <%= vacationer.last_name %></h3>
  <p>Checked in: <%= vacationer.checked_in %></p>
  <% end %>
<a href="/resorts/<%= @resort.id %>/vacationers/new">New Vacationer</a>
