<h1>All Disney Rides</h1>

<%= form_tag '/rides', method: :get do %>
  <%= label_tag :occupants_threshold, "Results with max occupants greater than:" %>
  <%= number_field_tag :occupants_threshold %><br>
  <%= submit_tag 'Go' %>
<% end %>
<ul>
 <% @rides.each do |ride| %>
    <h3><%= link_to "#{ride.name}", "/rides/#{ride.id}", method: :get %></h3>
    <li>Theme Park: <%= link_to "#{ride.theme_park.name}", "/themeparks/#{ride.theme_park.id}", method: :get %></li>
    <li>Max Occupants: <%= ride.max_occupants %></li>
    <li><% if ride.operational %>
      Operational
    <% else %>
      Not Operational
    <% end %></li>
    <li><%= ride.created_at
                .in_time_zone("America/Denver")
                .strftime("Created on %m/%d/%Y at %I:%M%p %Z") %>
    </li>
    <%= link_to 'Edit', "/rides/#{ride.id}/edit", method: :get %>
    <%= link_to 'Delete', "/rides/#{ride.id}", method: :delete %>
  <% end %>
</ul>