<!DOCTYPE html>
<html>
  <head>
    <title>Disney</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Theme Parks', '/themeparks', method: :get %></li>
      <li><%= link_to 'Rides', '/rides', method: :get %></li>
      <li><%= link_to 'Resorts', '/resorts', method: :get %></li>
      <li><%= link_to 'Vacationers', '/vacationers', method: :get %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
